<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Q&A Web</title>
    <!--

    Template 2108 Dashboard

	http://www.tooplate.com/view/2108-dashboard

    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="css/tooplate.css">
</head>

<body id="reportsPage" class="bg02">
    <div class="" id="home">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-xl navbar-light bg-light">
                        <a class="navbar-brand" href="/">
                            <i class="fas fa-3x fa-tachometer-alt tm-site-icon"></i>
                            <h1 class="tm-site-title mb-0">Q&A</h1>
                        </a>
                        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        API
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/api/question">getAllQuestion</a>
                                        <a class="dropdown-item" href="/api/temp">Temp</a>
                                        <a class="dropdown-item" href="#">API3</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        測試功能
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li><a class="dropdown-item" id="getAllQuestion" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">回答問題</a>
                                        </li>
                                        <!-- <li><a class="dropdown-item" href="#" id="getAllQuestion">輸出API</a></li> -->
                                        <li><a class="dropdown-item" href="#">功能3</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/dashboard">Dashboard
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>

                                <li class="nav-item active">
                                    <a class="nav-link" href="/products">Products</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/accounts">Accounts</a>
                                </li>

                            </ul>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link d-flex" href="/loginl">
                                        <i class="far fa-user mr-2 tm-logout-icon"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">問題</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close">X</button>
                        </div>
                        <div class="modal-body" id="questionShow">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Send message</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row tm-mt-big">
                <div class="col-12 mx-auto tm-login-col">
                    <div class="bg-white tm-block">
                        <div class="row">
                            <div class="col-12 text-center">
                                <i class="fas fa-3x fa-tachometer-alt tm-site-icon text-center"></i>
                                <h2 class="tm-block-title mt-3">我要發問題</h2>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="tm-login-form">
                                    <div class="input-group">
                                        <label for="username"
                                            class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">問題</label>
                                        <input name="content" type="text"
                                            class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7"
                                            id="content" placeholder="請問你今天的內褲是甚麼顏色的?" required>
                                    </div>
                                    <div class="input-group mt-3">
                                        <label for="password"
                                            class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Email</label>
                                        <input name="email" type="text" class="form-control validate" id="email"
                                            placeholder="abcde@gmail.com" required>
                                    </div>
                                    <div class="input-group mt-3">
                                        <button type="submit" class="btn btn-primary d-inline-block mx-auto"
                                            id="addQuestion">送出</button>
                                    </div>
                                    <div class="input-group mt-3">
                                        <p><em>問題被回答後會寄發到Email</em></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <!-- https://getbootstrap.com/ -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous">
    </script>
    <script>
        $(function () {
            $('.tm-product-name').on('click', function () {
                window.location.href = "edit-product.html";
            });
        })
    </script>
    <script>
        (function () {
            window.onload = function () {
                // $('#exampleModal').modal('show')
                // $('#getAllQuestion').trigger("click");
            }
            $("#getAllQuestion").click(getAllQuestion)
            $("#addQuestion").click(addQuestion)

            function makeRequest(url) {
                return new Promise((resolve, reject) => {
                    var httpRequest = new XMLHttpRequest();
                    if (!httpRequest) {
                        alert('Giving up :( Cannot create an XMLHTTP instance');
                        return false;
                    }
                    httpRequest.open('GET', url, true);
                    httpRequest.send();
                    httpRequest.onload = function () {
                        if (alertContents(httpRequest)) {
                            resolve(JSON.parse(httpRequest.responseText))
                        } else {
                            reject(new Error(httpRequest))
                        }
                    }
                })
            }

            function post(url, request) {
                return new Promise((resolve, reject) => {
                    var httpRequest = new XMLHttpRequest();
                    if (!httpRequest) {
                        alert('Giving up :( Cannot create an XMLHTTP instance');
                        return false;
                    }
                    console.log(JSON.stringify(request));
                    httpRequest.open('post', url, true);
                    httpRequest.setRequestHeader("Content-type", "application/json");
                    httpRequest.send(JSON.stringify(request));
                    httpRequest.onload = function () {
                        if (alertContents(httpRequest)) {
                            resolve(JSON.stringify(request));
                        } else {
                            reject(new Error(httpRequest))
                        }
                    }
                })
            }

            function alertContents(httpRequest) {
                if (httpRequest.status === 200) {
                    return true;
                } else {
                    console.log('There was a problem with the request.');
                    return false;
                }
            }

            function getAllQuestion() {
                makeRequest('/api/question').then((res) => {
                        console.log(res);
                        printResponse(res)
                    })
                    .catch((res) => {
                        console.error(res)
                    })

                function printResponse(res) {
                    $('#questionShow').empty();
                    var index = Math.floor(Math.random() * res.length);
                    let newCardInfo =
                        `
                        <form>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label" > ${res[index].content}</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                        </form>
                    `
                    $('#questionShow').append(newCardInfo);
                }

            }

            function addQuestion() {
                var question = {
                    content: $("#content").val(),
                    email: $("#email").val()
                }
                post('/api/addQuestion', question).then((res) => {
                        alert(res + ' successfully!')
                    })
                    .catch((res) => {
                        console.error(res)
                    })
            }
        })();
    </script>
</body>

</html>